:root {
  font-size: 18px;
  height: 100%;
}

html {
  background-color: #F3F4F6;
}

@media (prefers-color-scheme: dark) {
  html {
    color: #fff;
    background-color: #1f1f1f;
  }
}

body {
  font-family: Arial, sans-serif;
  padding: 0.51rem;
}

pre {
  margin: 0;
}

h1,
h2 {
  margin: 0 0 0.5rem 0;
}

address {
  font-style: normal;
}

.bio,
.skills,
.description,
.experience,
.education {
  border-radius: 10px;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);

  @media (prefers-color-scheme: dark) {
    background-color: #28292a;
  }
}

.main {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 475px auto;
  gap: 0.5rem;
  grid-template-areas:
    'bio description'
    '. experience'
    'skills experience'
    'skills experience'
    '. education';

  @media (width < 1024px) {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      'bio'
      'skills'
      'experience'
      'description '
      'education';
  }
}

.bio {
  grid-area: bio;
}

.skill {
  grid-area: skills;

}

.skill-list {
  display: flex;
  flex-flow: row wrap;
  gap: 0.3rem;
}

.skill {
  color: #DA4AEE;
  background-color: #fcf3ff;
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
  font-size: 14px;

  @media (prefers-color-scheme: dark) {
    color: gold;
    background-color: transparent;
    border: 1px solid gold;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

}

.contact-info div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.description {
  grid-area: description;
}

.description pre {
  font-size: 16px;
  font-family: inherit;
}

.experience {
  grid-area: experience;
}

.hr {
  margin: 1rem 0;
}

.job-head {
  margin-bottom: 0.5rem;
}

.job-head__line {
  display: flex;
  justify-content: space-between;

  @media (width < 1024px) {
    flex-flow: column wrap;
    gap: 0.5rem;
  }
}
.job-head__title {
  display: flex;
  justify-content: space-between;
}

.inline {
  flex-flow: row nowrap;
}

.job-head__line+.job-head__line {
  margin-top: 0.3rem;
}

.job-head__line .skill-set,
.job-head__line div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.3rem;
}

.education {
  grid-area: education;
}

.profile {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  gap: 0.5rem;

  @media (width < 420px) {
    justify-content: center;
  }
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.icon {
  color: #000;
  width: 22px;
  height: 22px;

  @media (prefers-color-scheme: dark) {
    color: inherit;
  }
}

.text-small {
  font-size: 14px;
}

.text-grey {
  color: #948d8d;

  @media (prefers-color-scheme: dark) {
    color: #b1aaaa;
  }
}
.contact-block {
  @media (width < 1024px) {
    padding: 1rem 0;
  }
}
.link {
  text-decoration: none;
  position: relative;
  color: #0b57d0;
  line-height: 21px;

  @media (prefers-color-scheme: dark) {
    color: #a8c7fa;
  }
}

.link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #0b57d0;
  transition: width 0.3s ease, left 0.3s ease;
}

.link:hover::after {
  width: 100%;
  left: 0;
}

@media (prefers-color-scheme: dark) {
  .link::after {
    background-color: #a8c7fa;
  }
}