@import 'animation.scss';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth
}
:root {
  overflow: hidden;
  height: 100%;
  font-size: 18px;
  font-family: Roboto, sans-serif;
}
body, #app, .container {
  height: 100%;
  width: 100%;
}
#app {
  display: flex;

  justify-content: center;
}
img {
  max-width: 100%;
  display: block;
}
ul {
  list-style-type: none; /* Remove bullets */
}

body {
  background-size: cover;
  background: #060e1b url('/img/Space-BG_blur.jpg') no-repeat fixed 50% 50%;
}
@media only screen and (max-width: 900px) {
  :root {
    font-size: 16px;
    overflow: visible;
    //height: initial;
  }
}